<section id="stock-chart">
    <h2>Stock Chart</h2>
    <canvas id="myChart"></canvas>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    ทั้งหมด
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    คงเหลือ
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    หมด
                </div>
            </div>
        </div>
    </div>
  </section>
  <section id="Stock-list">
    <h2>Stock List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>รหัสสินค้า</th>
          <th>ชื่อสินค้า</th>
          <th>จำนวนสินค้า</th>
          <th>ราคาสินค้า</th>
          <th>วันที่เพิ่มสินค้า</th>
          <th>วันที่แก้ไขสินค้า</th>
          <th>จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>001</td>
          <td>สินค้า A</td>
          <td>10</td>
          <td>100</td>
          <td>01/01/2023</td>
          <td>05/01/2023</td>
          <td><button class="btn btn-success">แก้ไข</button> <button class="btn btn-danger">ลบ</button></td>
        </tr>
        <tr>
          <td>002</td>
          <td>สินค้า B</td>
          <td>20</td>
          <td>200</td>
          <td>02/01/2023</td>
          <td>06/01/2023</td>
          <td><button class="btn btn-success">แก้ไข</button> <button class="btn btn-danger">ลบ</button></td>
        </tr>
        <tr>
          <td>003</td>
          <td>สินค้า B</td>
          <td>20</td>
          <td>200</td>
          <td>02/01/2023</td>
          <td>06/01/2023</td>
          <td><button class="btn btn-success">แก้ไข</button> <button class="btn btn-danger">ลบ</button></td>
        </tr>
        <tr>
          <td>004</td>
          <td>สินค้า B</td>
          <td>20</td>
          <td>200</td>
          <td>02/01/2023</td>
          <td>06/01/2023</td>
          <td><button class="btn btn-success">แก้ไข</button> <button class="btn btn-danger">ลบ</button></td>
        </tr>
      </tbody>
    </table>
  </section>